<blockquote>
	<footer>
		%%AVATAR%%

		<div class="tm-testi__item-meta-content">
			<cite>%%NAME%%</cite> %%EMAIL%% %%POSITION%% %%COMPANY%%
			<div class="tm-testi__item-body">
			%%CONTENT%%
      	</div>
		</div>
	</footer>
</blockquote>
