<div class="project-media">
	%%FEATUREDIMAGE crop="yes" crop_width="370" crop_height="310"%%
	<div class="hover-content row-format">
		%%ZOOMLINK%%
		%%EXTERNALLINK%%
		%%PERMALINK%%
	</div>
</div>
<div class="project-content">
	<div class="project-meta entry-meta">
		%%DATE%%
		%%AUTHOR%%
		%%COMMENTS prefix=""%%
		%%TERMSLIST type="projects_category"%%
		%%TERMSLIST type="projects_tag"%%
	</div>
	%%TITLE%%
	%%CONTENT number_of_words="55"%%
	%%BUTTON%%
</div>
